body {
    font-family: 'Arial';
    font-size:14px;
    max-width: 960px;
    margin:auto;
}

img {
    max-width:760px;
    margin:auto;
}

table, th, td {
    border:1px #eee solid;
    border-collapse: collapse;
    border-spacing:5px;
    padding:5px;
}

.image {
    position:relative;
}

.image:hover .float-box {
    display:inline-block;
    background-color:#f6ecdb;
    padding:5px 10px;
    margin:0;
    position:absolute;
    max-width:200px;
    text-align: center;
    font-size:11px;
}

.float-box {
    display:none;
}
