body {
    font-family: 'Arial';
    font-size:14px;
    max-width: 960px;
    margin:auto;
}

img {
    max-width:760px;
    max-height:100%;
    margin:auto;
}

.float-left {
    background-color:#f6ecdb;
    padding:5px 20px;
    margin:0;
    position:absolute;
    max-width:200px;
    text-align: left;
}